<%= provide(:title, 'Folders') %>
<h1>Folders</h1>

<div class="row">
  <div class="span6 offset3">
	
    <%= form_for(@folder) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title %>
      <%= f.text_field :title %>
	  
	  
	  
	  <%= f.label :parent_id %>
	<% options = []
	sorted_nested_set_options(Folder, lambda{ |folder| folder.lft }) do |folder, depth| 
	options << content_tag(:option, folder.title, :value => folder.id, :id => "level_#{folder.depth}") end	%>
	<%= select_tag "folder[parent_id]", options.join.html_safe %>
 
      <%= f.submit "Create folder", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>