<% provide(:title, @feed_source.title) %>
 <div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @feed_source.title %>
        <div id="feed_entries_count">
		<% if @feed_source.feed_entries.any? %>
		(<%= @feed_source.feed_entries.count %>)
		<% end %>
		</span>
      </h1>
	  
	  <span class="hashtags">
	   <%= @feed_source.hashtags %>
	   </span>
	   <% if current_user?(@feed_source.user) %>
	   <span class="feed_source_links"> [
	   <%= link_to "edit", edit_feed_source_path(@feed_source) %> | 
	<%= link_to "delete", @feed_source, method:  :delete,
                                     confirm: "You sure?",
                                     title:   @feed_source.title %>
		]
		</span>
		<br />
		<%= form_for( @feed_source, 
					:html => { :id => "feed_source_refresh" },
					:url => url_for(:controller => 'feed_sources', :action => 'update_entries', :id => @feed_source.id),
	    			:remote => true) do |f| %>
	  	 				 <%= f.submit "Refresh", class: "btn btn-small btn-secondary" %>
					<% end %>
					
		
  <% end %>
  <span id="loading" style="display: none; "><img alt="Ajax-loader" src="/assets/ajax-loader.gif"> Loading...</span>
    </section>
  </aside>
  <div class="span8">
  	 <ol class="feed_entries" id="feed_entries">
    <% if @feed_source_entries.any? %>
        <%= render @feed_source_entries %>
     <% else %>
     	<i>No entries found. Try refreshing :)</i>
	  <% end %>
	  </ol>
	   <span id="feed_entries_pagination">
        <%=  will_paginate @feed_source_entries %>
       </span>
       <!-- <p id="loading_pagination">
        Loading more results...
       </p> -->
  </div>
</div>
