<% provide(:title, @feed_source.title) %>
 <div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @feed_source.title %>
        <div id="feed_entries_count">
		<% if @feed_source.feed_entries.any? %>
		(<%= @feed_source.feed_entries.count %>)
		<% end %>
		</span>
      </h1>
	  <%= hidden_field_tag "feed_source_id", @feed_source.id, { :id => "feed_source_id" } %>
	  <span class="hashtags">
	   <%= @feed_source.hashtags %>
	   </span>
	   <% if current_user?(@feed_source.user) %>
	   <span class="feed_source_links"> [
	   <%= link_to "edit", edit_feed_source_path(@feed_source) %> | 
		<%= link_to "delete", @feed_source, method:  :delete,
                                     confirm: "You sure?",
                                     title:   @feed_source.title %>
		]
		</span>
		<br />
		<%= form_for( @feed_source, 
					:html => { :id => "feed_source_refresh" },
					:url => url_for(:controller => 'feed_sources', :action => 'update_entries', :id => @feed_source.id),
	    			:remote => true) do |f| %>
	  	 				 <%= f.submit "Refresh", class: "btn btn-big btn-primary" %>
					<% end %>
		<!-- <%= form_for( @feed_source, 
					:html => { :id => "feed_source_search" },
					:url => url_for(:controller => 'feed_sources', :action => 'show', :id => @feed_source.id),
	    			:remote => true) do |f| %>
	  	 				 <%= text_field_tag :search, params[:search] %>
	  	 				 <%= f.submit "Search", class: "btn btn-small btn-secondary" %>
					<% end %> -->
			
				
<%= form_tag feed_source_path(@feed_source), 
			:method => 'get', :id => 'feed_entries_search',
			 :remote => true do %>
  <p>
  	<%= hidden_field_tag :submit, 'search' %>
    <%= text_field_tag :search, params[:search], 
    				:placeholder => 'Enter your search string' %>
  </p>
<% end %>		
  <% end # if current user is the one calling the action 
  %>
  <%= render 'shared/ajax_loader', 
  		{ loading_message: 'downloading...', 
  		  loading_html_attributes: "id=\"loading\" style=\"display: none;\""} %> 
    </section>
  </aside>
  <div class="span8">
  	 <ol class="feed_entries" id="feed_entries">
    <% if @feed_source_entries.any? %>
        <%= render @feed_source_entries %>
     <% else %>
     	<i>No entries found. Try refreshing :)</i>
	  <% end %>
	  </ol>
       <br />
       <br />
       <%= render 'shared/ajax_loader', 
  		{ loading_message: 'loading more results...', 
  		  loading_html_attributes: "id=\"loading_pagination\""} %> 	  
  </div>
</div>
